<h1>Prediction BB</h1>

In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib
import pickle

In [4]:
df = pd.read_csv("datasets/weight-height.csv")

In [5]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [6]:
#change value gender Male = 1, Female = 0
df.replace({'Male' : 1}, inplace=True)
df.replace({'Female' : 0}, inplace=True)

In [7]:
df = df[['Height', 'Gender', 'Weight']]
df

         Height  Gender      Weight
0     73.847017       1  241.893563
1     68.781904       1  162.310473
2     74.110105       1  212.740856
3     71.730978       1  220.042470
4     69.881796       1  206.349801
...         ...     ...         ...
9995  66.172652       0  136.777454
9996  67.067155       0  170.867906
9997  63.867992       0  128.475319
9998  69.034243       0  163.852461
9999  61.944246       0  113.649103

[10000 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  10000 non-null  float64
 1   Gender  10000 non-null  int64
 2   Weight  10000 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 234.5 KB

In [9]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [10]:
regressor = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)


model = regressor.fit(X_train, y_train)

In [11]:
accuracy = model.score(X_test, y_test)

In [12]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.52072512932293%

In [13]:
pickle.dump(model, open('trained-model.pkl', 'wb'))